<p><strong>Welcome. What would you like to do today?</strong></p>
<ul>
	<li>
		<p style="text-align: left;">Manage my Platinum Warranty Registrations Remotely with No Internet Access (Your images will be automatically synchronized to the record when your phone has internet connectivity).<p>
		<p><button class="button" ng-click="useApp()">Offline Use</button></p>
		<p>&nbsp;</p>
	</li>
	<li>
		<p style="text-align: left;">I currently have online internet connectivity. I would like manage my Platinum Warranty Registrations online.</p>
		<p><button class="button" ng-click="useOnline()">Online Use</button></p>
	</li>
</ul>
