<ion-view cache-view="false" view-title="Platinum Registrations">
  <ion-content>
    <ul class="grid">
      <li class="grid-item registration {{ item.status == 1 ? 'approved' : (item.status == 2 ? 'denied' : 'pending') }}"  ng-repeat="item in list">
		<a ng-href="#app/item/{{item.sid}}/{{item.home_owner + ' - ' + item.state}}" href="#app/item/{{item.sid}}/{{item.home_owner + ' - ' + item.state}}">
	        <h4>{{ item.home_owner + " " + item.state }}{{ item.status == 1 && item.warranty_number.length > 0 ? ' / ' + item.warranty_number : '' }}</h4>
	        <p>Email: {{item.customer_email}}</p>
	        <p>Phone: {{item.customer_phone}}</p>
	        <p>State: {{item.state}}</p>
	        <p>Country: {{item.country}}</p>
	        <p>Installation Date: {{item.installation_date}}</p>
	        <span class="icon ion-android-checkbox-outline" ng-if="item.status == 1"></span>
	        <span class="icon ion-android-checkbox-blank" ng-if="item.status == 2"></span>
	        <span class="icon ion-android-checkbox-outline-blank" ng-if="item.status == 0"></span>
        </a>
      </li>
      <li ng-if="list.length == 0" class="alert">No registration found!</li>
      <p id="logs"></p>
    </ul>
  </ion-content>
</ion-view>
