<ion-view view-title="Login" class="login">
    <ion-content>
        <form ng-submit="doLogin()">
            <div class="logo"><img src="img/logo.png"/></div>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <label class="item error" ng-show="error">{{ errorMessage }}</label>
                <label class="item submit">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                </label>
		        <ul class="footer">
					<li><a href="#app/terms-conditions" class="touch">Terms & Conditions</a></li>
					<li><span> - </span></li>
					<li><a href="#app/policy-privacy" class="touch">Policy Privacy</a></li>
		        </ul>
            </div>
        </form>
    </ion-content>
</ion-view>
