<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" ng-show="$root.showBar">
      <ion-nav-back-button ng-show="$root.showBack">
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right" ng-show="$root.showMenu">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/list" ng-if="$root.uid > 0">
          <span class="ion-ios-list-outline"><span> My Registrations
        </ion-item>
        <ion-item menu-close href="#/app/sync" ng-if="$root.uid > 0">
          <span class="ion-ios-cloud-upload-outline"><span> Synchronize My Records
        </ion-item>
        <ion-item menu-close href="#/app/login" ng-if="$root.uid == 0">
          <span class="ion-log-in"><span> Login
        </ion-item>
        <ion-item menu-close href="#/app/terms-conditions">
          <span class="ion-ios-information-outline"><span> Terms & Conditions
        </ion-item>
        <ion-item menu-close href="#/app/policy-privacy">
          <span class="ion-ios-information-outline"><span> Policy Privacy
        </ion-item>
        <ion-item menu-close ng-click="logout()" ng-if="$root.uid > 0">
          <span class="ion-log-out"></span> Logout
        </ion-item>
        <ion-item menu-close ng-click="exit()">
          <span class="ion-log-out"></span> Exit
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
