<ion-view cache-view="false" view-title="Before you Proceed" id="spaj-start">
    <ion-content>
        <div class="container text-center">
            <div class="list">
                <div class="item">
                    <div class="description">
                        Please check the following info which might affect your premium or required documents
                    </div>
                </div>
                <div class="item even-block">
                    <div class="description">
                        I, the policy holder confirm that I am…
                    </div>
                    <div class="mini-center-container">
                    <ion-checkbox class="policy-checkbox" ng-model="data.checkbox_main_primary_insured">Main Primary Insured</ion-checkbox>
                    <ion-checkbox class="policy-checkbox" ng-model="data.policy_payor">Policy Payor</ion-checkbox>
                    </div>
                    <div class="mini-center-container">
                    <ion-checkbox class="policy-checkbox" ng-model="data.additional_insured">Additional Insured 1</ion-checkbox>
                    <ion-checkbox class="policy-checkbox" ng-model="data.no_insured">Not Insured</ion-checkbox>
                    </div>
                </div>
                <div class="item">
                    <div class="description">
                        Have you ever owned insurance policy from PT Prudential Life assurance with the same insured members, whereby it has lapsed
                        or serenaded, OR have you decreased the premium more than 25% from the previous policy value in less
                        than 365 days from the date you signed this life insurance application?
                    </div>
                    <div class="row">
                        <div class="col col-50">
                            <button class="button value-btn" ng-class="{selected: data.option1}" ng-click="data.option1 = true">Yes</button>
                        </div>
                        <div class="col col-50">
                            <button class="button value-btn" ng-class="{selected: !data.option1}" ng-click="data.option1 = false">No</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="description">
                        Do you understand that there may be consequences that arise as regulated by the policy related to your previous policy condition
                        and this life insurance application?
                    </div>
                    <div class="row">
                        <div class="col col-50">
                            <button class="button value-btn" ng-class="{selected: data.option2}" ng-click="data.option2 = true">Yes</button>
                        </div>
                        <div class="col col-50">
                            <button class="button value-btn" ng-class="{selected: !data.option2}" ng-click="data.option2 = false">No</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="description">
                        Do you agree that this new SPAJ is a replacement of previous applied SPAJ which prospective policy holder and prospective
                        insured are the same person. Any premium paid in the previous SPAJ automatically will be transfered
                        to this SPAJ (Item 11 from end disclaimer)
                    </div>
                    <div class="row">
                        <div class="col col-50">
                            <button class="button value-btn" ng-class="{selected: data.option3}" ng-click="data.option3 = true">Yes</button>
                        </div>
                        <div class="col col-50">
                            <button class="button value-btn" ng-class="{selected: !data.option3}" ng-click="data.option3 = false">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div ng-if="customer.existing" class="bar bar-footer bar-assertive">
        <a ng-click="clickButtonHandle('/app')" title="Continue" class="btn">Continue<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
    </div>
    <div ng-if="!customer.existing" class="bar bar-footer bar-assertive not-active">
        <a title="Continue" class="btn">Continue<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
    </div>
</ion-view>