<div id='beneficiary'>
    <div>Your Active Insurance Policies *</div>
    <table style="width:100%" border="1">
        <tr>
            <th></th>
            <th>Name of Beneficiary</th>
            <th>Date of Birth</th>
            <th>Relationship</th>
            <th>Share %</th>
            <th>Gender</th>
        </tr>
        <tr ng-repeat="(index, row) in vm.dataBeneficiary">
            <td>{{index+1}}</td>
            <td><input type='input' placeholder="Name" ng-model="row.name"/></td>
            <td class="row"><i class="icon ion-calendar"></i><input type='date' ng-model="row.birthday"/></td>
            <td><input type='input' placeholder="Mother" ng-model="row.relationship"/></td>
            <td><input type='input' placeholder="%" ng-model="row.share"/></td>
            <td class="row">
                <button ng-click="vm.policy.beneficiary.setGender(index, 'male')">Male</button>
                <button ng-click="vm.policy.beneficiary.setGender(index, 'female')">Female</button>
            </td>
        </tr>
    </table>
    {{vm.dataBeneficiary}}
    <div ng-click="vm.policy.beneficiary.addRow()"><i class="icon ion-plus"></i> Add more policies</div>
</div>