<div id="policy_info_ph_info">
  <form>
    <div class="list list-inset no-lines">
      <div class='item'>
        <h2 class="headline">Policy Holder Information</h2>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Date of Birth</span>
            </label>
          </div>
          <div class="col-33">
            <label class="item-stacked-label">
              <span class="input-label label_medium_size">First Name</span>
              <input type="text" placeholder="Rodney" ng-model="agent.firstname" class='small_input'>
            </label>
          </div>
          <div class="col-33">
            <label class="item-stacked-label">
              <span class="input-label label_medium_size">Last Name</span>
              <input type="text" placeholder="Hamilton" ng-model="agent.lastname" class='small_input'>
            </label>  
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Date of Birth</span>
            </label>
          </div>
          <div class="col-60">
            <span class="icon-calendar">
              <i class="icon ion-android-calendar"></i>
            </span>
            <input type="date" placeholder="Enter">
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Gender</span>
            </label>
          </div>
          <div class="col-33">
            <div class="button-block">
              <a class="button active" grouped-red-radio="'Male'" ng-model="agent.gender">Male</a>
              <a class="button" grouped-red-radio="'Female'" ng-model="agent.gender">Female</a>
            </div>
          </div>
          <div class="col-33"></div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Marital Status</span>
            </label>
          </div>
          <div class="col-60">
            <select class="form_select" ng-model='agent.occupation'>
              <option selected value>Please select</option>
              <option>Blue</option>
              <option>Green</option>
              <option>Red</option>
            </select>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Religion</span>
            </label>
          </div>
          <div class="col-60">
            <select class="form_select" ng-model='agent.occupation'>
              <option selected value>Please select</option>
              <option>Blue</option>
              <option>Green</option>
              <option>Red</option>
            </select>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Country of Birth</span>
            </label>
          </div>
          <div class="col-60">
            <span class="input-label label_medium_size">Country of Birth</span>
            <select class="form_select" ng-model='agent.occupation'>
              <option selected value>Indonesia</option>
              <option>Blue</option>
              <option>Green</option>
              <option>Red</option>
            </select>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Citizenship</span>
            </label>
          </div>
          <div class="col-60">
            <span class="input-label label_medium_size">Country of Birth</span>
            <select class="form_select" ng-model='agent.occupation'>
              <option selected value>Indonesia</option>
              <option>Blue</option>
              <option>Green</option>
              <option>Red</option>
            </select>
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">ID Card No</span>
            </label>
          </div>
          <div class="col-60">
            <input type="text" placeholder="ID card number">
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">ID Expiry Date</span>
            </label>
          </div>
          <div class="col-60">
            <span class="icon-calendar">
              <i class="icon ion-android-calendar"></i>
            </span>
            <input type="date" placeholder="Enter">
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Tax Status</span>
            </label>
          </div>
          <div class="col-60">
            <span class="icon-calendar">
              <i class="icon ion-android-calendar"></i>
            </span>
            <input type="date" placeholder="Enter">
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Tax ID</span>
            </label>
          </div>
          <div class="col-60">
            <input type="text" placeholder="Tax ID">
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Exployer/Company</span>
            </label>
          </div>
          <div class="col-60">
            <input type="text" placeholder="Exployer/Company">
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Exployer Address</span>
            </label>
          </div>
          <div class="col-60">
            <input type="text" placeholder="Address">
          </div>
        </div>
      </div>
      <div class='item'>
        <div class="row row-no-padding">
          <div class="col-40">
            <label class="item-stacked-label">
              <span class="input-label">Current Residential Address</span>
            </label>
          </div>
          <div class="col-60">
            <input type="text" placeholder="Address">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>