<div class='row tab-menu'>
  <span class='col' ng-class="{'active':vm.view === 'Utama'}" ng-click="vm.changeView('Utama')">Tertanggung Utama</span>
  <span class='col' ng-class="{'active':vm.view === 'Tambahan1'}" ng-click="vm.changeView('Tambahan1')">Tertanggung Tambahan 1</span>
  <span class='col' ng-class="{'active':vm.view === 'Tambahan2'}" ng-click="vm.changeView('Tambahan2')">Tertanggung Tambahan 1</span>
</div>
<div ng-show="vm.view==='Utama'" ng-include="'templates/spaj/policy/step2/health.html'"></div>
<div ng-show="vm.view==='Tambahan1'" ng-include=""></div>
<div ng-show="vm.view==='Tambahan2'" ng-include=""></div>