<div class='row tab-menu'>
  <span class='col' ng-class="{'active': vm.view === 'Polis'}" ng-click="vm.changeView('Polis')">Pemegang Polis</span>
  <span class='col' ng-class="{'active': vm.view === 'Utama'}" ng-click="vm.changeView('Utama')">Tertanggung Utama</span>
  <span class='col' ng-class="{'active': vm.view === 'Tambahan'}" ng-click="vm.changeView('Tambahan')">+ Tertanggung Tambahan</span>
</div>
<div ng-show="vm.view==='Polis'" ng-include="'templates/spaj/policy/step1/ph_info.html'"></div>
<div ng-show="vm.view==='Utama'" ng-include="'templates/spaj/main_ensured/index.html'"></div>
<div ng-show="vm.view==='Tambahan'" ng-include="'templates/spaj/addittional_ensured/index.html'"></div>