<ion-view>
  <ion-content>
  	<div id="terms_conditions">
	    <h3>Please ensure that you are aware of the following….</h3>
	    <div class="terms_padding_box">
		    <div class="terms_block">
		    	<h2>STATEMENT FOR PROSPECTIVE POLICYHOLDER (VII))</h2>
		    	<p>All Information including medical information given along in this SPAJ and additional documentation to Prudential Life Assurance is correct. There is no other information that is hidden by me (Item 1 & 3)
		    	<br><br>
		    	I have personally completed and signed this SPAG and accept and agree to the sales illustration and insurance benefit.
		    	<br>I understand and I am fully responsible  the risks related to the Prulink investment (Item 2)
		    	<br><br>I allow Prudential to request additional documents such as income proof to ensure compliance with my profile (Item 4, 12, 13)For the purpose of claims, Prudential has the right to ask for valid documentation to show relationship between PH, beneficiary and insured. 
		    	<br><br>Insurance will not apply before the policy issuance data. Prudential has no obligation to pay any benefit except premium refund deducted with cost. If there is cancellation by Policy holder. Prudential will refund the premium deducted with cost and will not return investment return.  (5 & 16 Merged)
		    	<br><br>Merged Premium Payment Disclaimer (Merge item 9 & 10) to confirm actual copy</p>
		    	<p class="terms_space"></p>
		    	<h2>TERM & CONDITIONS COMPLIANCE (A)</h2>
		    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br><br>
		    	Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.<br><br>
		    	Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.<br><br>
		    	Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a.</p>
		    	<p class="terms_space"></p>
		    	<h2>CUSTOMER ENGAGEMENT (C)</h2>
		    	<p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. <br><br>
		    	Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
		    </div>
		    <div class="terms_check">
		    	<ion-checkbox>I have read and agree to these terms and conditions.</ion-checkbox>
		    </div>
	    </div>
	    <div class="indent_height"></div>
  	</div>
  </ion-content>
</ion-view>