<ion-view cache-view="false" view-title="{{title}}">
    <ion-content>
        <h4 class="title">{{name}} / Comments</h4>
        <div class="comment">
            <ul class="grid">
                <li class="grid-item" ng-repeat="comment in list" ng-if="comment.deleted != 1">
                		<h5 class="touch" ng-if="comment.unread == 1" ng-click="read(comment.id)">{{comment.summary}}...</h5>
                		<div ng-if="comment.unread != 1">
	                    <p><span class="label">User:</span> {{comment.user}}</p>
	                    <p><span class="label">Date:</span> {{comment.created}}</p>
	                    <p>&nbsp;</p>
	                    <p ng-bind-html="comment.comment"></p>
                    </div>
                    <span ng-if="$root.uid == comment.uid && status == 0" class="delete ion-close" ng-click="delete(comment.id)"></span>
                </li>
            </ul>
            <div class="comment-form" style="display: none;">
            		<label>Write Comment</label>
            		<p><textarea ng-model="comment" style="width: 100%; height: 100px;"></textarea></p>
            		<label>Comment photos (maximum 7 images)</label>
            		<ul class="photos">
            			<li ng-repeat="key, photo in photos"><img src="{{photo.path}}" style="max-height: 100px;max-width: 100%"/> <span class="ion-close" ng-click="deletePhoto(key)"></span></li>
            		</ul>
            		<p ng-show="photos.length < 7"><input type="button" value="Upload photo" ng-click="browse('comment', 'file_0')"/></p>
            		<p><hr style="color: #ddd;border-color: #ddd;"/></p>
            		<p><input type="button" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" ng-click="add()"/><p>
            </div>
            <p>&nbsp;</p>
        </div>
    </ion-content>
</ion-view>