<ion-view cache-view="false" view-title="{{title}}">
    <ion-content>
        <h4 class="title">{{name}} / Messages</h4>
        <div class="contact">
            <ul class="grid">
                <li class="grid-item" ng-repeat="message in list">
                		<h5 class="touch summary" ng-if="message.unread == 1" ng-click="read(message.id)">{{message.subject}}</h5>
                    <h5 ng-if="message.unread != 1">{{message.subject}}</h5>
                    <div ng-if="message.unread != 1">
	                    <p ng-bind-html="message.message"></p>
	                    <p>&nbsp;</p>
	                    <p><span class="label">Sender:</span> {{message.sender}}</p>
	                    <p><span class="label">Receiver:</span> {{message.receiver}}</p>
	                    <p><span class="label">Date:</span> {{message.created}}</p>
                    </div>
                </li>
            </ul>
            <p>&nbsp;</p>
        </div>
    </ion-content>
</ion-view>