<ion-view cache-view="false" view-title="{{title}}">
    <ion-content>
        <h4 class="title">{{name}} / #3</h4>
        <div class="step3">
            <ul class="grid" ng-if="prev == 1">
                <li class="grid-item image {{files.file_0.status == 1 ? 'approved' : ''}}">
                    <h5>Dry-in including material and fastener pattern</h5>
                    <p class="img" ng-if="files.file_0.thumbnail.length == 0"><img class="thumbnail" src="img/no-image.gif" style="width: 240px;"/></p>
                    <p class="img alert" ng-if="files.file_0.thumbnail.length > 0 && files.file_0.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_0') != -1">This image is loading!</p>
                    <p class="img alert" ng-if="files.file_0.thumbnail.length > 0 && files.file_0.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_0') == -1">Missing image. Please try to synchronize your records</p>
                    <p class="img alert" ng-if="files.file_0.thumbnail.length > 0 && files.file_0.thumbnail.indexOf('http') == 0">Missing image. Please try to synchronize your records</p>
                    <p class="img" ng-if="files.file_0.thumbnail.length > 0 && files.file_0.thumbnail.indexOf('http') != 0"><img class="thumbnail" src="{{files.file_0.thumbnail + '?time=' + files.file_0.time}}" style="width: 240px;"/></p>
                    <p ng-if="files.file_0.status == 0">
                        <input type="button" value="{{files.file_0.path != '' ? 'Upload New Image': 'Upload Image'}}" ng-click="browse('step3', 'file_0')"/>
                    </p>
                    <span ng-if="files.file_0.status == 1" class="icon ion-checkmark-round"></span>
                    <span ng-if="files.file_0.sync == 1" class="icon ion-load-c"></span>
                </li>
                <li class="grid-item image {{files.file_1.status == 1 ? 'approved' : ''}}">
                    <h5>Battens including grade indications and fastener identification</h5>
                    <p class="img" ng-if="files.file_1.thumbnail.length == 0"><img class="thumbnail" src="img/no-image.gif" style="width: 240px;"/></p>
                    <p class="img alert" ng-if="files.file_1.thumbnail.length > 0 && files.file_1.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_1') != -1">This image is loading!</p>
                    <p class="img alert" ng-if="files.file_1.thumbnail.length > 0 && files.file_1.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_1') == -1">Missing image. Please try to synchronize your records</p>
                    <p class="img" ng-if="files.file_1.thumbnail.length > 0 && files.file_1.thumbnail.indexOf('http') != 0"><img class="thumbnail" src="{{files.file_1.thumbnail + '?time=' + files.file_1.time}}" style="width: 240px;"/></p>
                    <p ng-if="files.file_1.status == 0">
                        <input type="button" value="{{files.file_1.path != '' ? 'Upload New Image': 'Upload Image'}}" ng-click="browse('step3', 'file_1')"/>
                    </p>
                    <span ng-if="files.file_1.status == 1" class="icon ion-checkmark-round"></span>
                    <span ng-if="files.file_1.sync == 1" class="icon ion-load-c"></span>
                </li>
                <li class="grid-item image {{files.file_2.status == 1 ? 'approved' : ''}}">
                    <h5>Valley framing (including exits or transitions)</h5>
                    <p class="img" ng-if="files.file_2.thumbnail.length == 0"><img class="thumbnail" src="img/no-image.gif" style="width: 240px;"/></p>
                    <p class="img alert" ng-if="files.file_2.thumbnail.length > 0 && files.file_2.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_2') != -1">This image is loading!</p>
                    <p class="img alert" ng-if="files.file_2.thumbnail.length > 0 && files.file_2.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_2') == -1">Missing image. Please try to synchronize your records</p>
                    <p class="img" ng-if="files.file_2.thumbnail.length > 0 && files.file_2.thumbnail.indexOf('http') != 0"><img class="thumbnail" src="{{files.file_2.thumbnail + '?time=' + files.file_2.time}}" style="width: 240px;"/></p>
                    <p ng-if="files.file_2.status == 0">
                        <input type="button" value="{{files.file_2.path != '' ? 'Upload New Image': 'Upload Image'}}" ng-click="browse('step3', 'file_2')"/>
                    </p>
                    <span ng-if="files.file_2.status == 1" class="icon ion-checkmark-round"></span>
                    <span ng-if="files.file_2.sync == 1" class="icon ion-load-c"></span>
                </li>
                <li class="grid-item image {{files.file_3.status == 1 ? 'approved' : ''}}">
                    <h5>Hip/ridge framing</h5>
                    <p class="img" ng-if="files.file_3.thumbnail.length == 0"><img class="thumbnail" src="img/no-image.gif" style="width: 240px;"/></p>
                    <p class="img alert" ng-if="files.file_3.thumbnail.length > 0 && files.file_3.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_3') != -1">This image is loading!</p>
                    <p class="img alert" ng-if="files.file_3.thumbnail.length > 0 && files.file_3.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_3') != -1">Missing image. Please try to synchronize your records</p>
                    <p class="img" ng-if="files.file_3.thumbnail.length > 0 && files.file_3.thumbnail.indexOf('http') != 0"><img class="thumbnail" src="{{files.file_3.thumbnail + '?time=' + files.file_3.time}}" style="width: 240px;"/></p>
                    <p ng-if="files.file_3.status == 0">
                        <input type="button" value="{{files.file_3.path != '' ? 'Upload New Image': 'Upload Image'}}" ng-click="browse('step3', 'file_3')"/>
                    </p>
                    <span ng-if="files.file_3.status == 1" class="icon ion-checkmark-round"></span>
                    <span ng-if="files.file_3.sync == 1" class="icon ion-load-c"></span>
                </li>
                <li class="grid-item image {{files.file_4.status == 1 ? 'approved' : ''}}">
                    <h5>Rake framing</h5>
                    <p class="img" ng-if="files.file_4.thumbnail.length == 0"><img class="thumbnail" src="img/no-image.gif" style="width: 240px;"/></p>
                    <p class="img alert" ng-if="files.file_4.thumbnail.length > 0 && files.file_4.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_4') != -1">This image is loading!</p>
                    <p class="img alert" ng-if="files.file_4.thumbnail.length > 0 && files.file_4.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_4') == -1">Missing image. Please try to synchronize your records</p>
                    <p class="img" ng-if="files.file_4.thumbnail.length > 0 && files.file_4.thumbnail.indexOf('http') != 0"><img class="thumbnail" src="{{files.file_4.thumbnail + '?time=' + files.file_4.time}}" style="width: 240px;"/></p>
                    <p ng-if="files.file_4.status == 0">
                        <input type="button" value="{{files.file_4.path != '' ? 'Upload New Image': 'Upload Image'}}" ng-click="browse('step3', 'file_4')"/>
                    </p>
                    <span ng-if="files.file_4.status == 1" class="icon ion-checkmark-round"></span>
                    <span ng-if="files.file_4.sync == 1" class="icon ion-load-c"></span>
                </li>
                <li class="grid-item image {{files.file_5.status == 1 ? 'approved' : ''}}">
                    <h5>Headwall detailing</h5>
                    <p class="img" ng-if="files.file_5.thumbnail.length == 0"><img class="thumbnail" src="img/no-image.gif" style="width: 240px;"/></p>
                    <p class="img alert" ng-if="files.file_5.thumbnail.length > 0 && files.file_5.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_5') != -1">This image is loading!</p>
                    <p class="img alert" ng-if="files.file_5.thumbnail.length > 0 && files.file_5.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_5') == -1">Missing image. Please try to synchronize your records</p>
                    <p class="img" ng-if="files.file_5.thumbnail.length > 0 && files.file_5.thumbnail.indexOf('http') != 0"><img class="thumbnail" src="{{files.file_5.thumbnail + '?time=' + files.file_5.time}}" style="width: 240px;"/></p>
                    <p ng-if="files.file_5.status == 0">
                        <input type="button" value="{{files.file_5.path != '' ? 'Upload New Image': 'Upload Image'}}" ng-click="browse('step3', 'file_5')"/>
                    </p>
                    <span ng-if="files.file_5.status == 1" class="icon ion-checkmark-round"></span>
                    <span ng-if="files.file_5.sync == 1" class="icon ion-load-c"></span>
                </li>
                <li class="grid-item image {{files.file_6.status == 1 ? 'approved' : ''}}">
                    <h5>Roof ventilation (soffit, ridge, gable end, turtle/turbine)</h5>
                    <p class="img" ng-if="files.file_6.thumbnail.length == 0"><img class="thumbnail" src="img/no-image.gif" style="width: 240px;"/></p>
                    <p class="img alert" ng-if="files.file_6.thumbnail.length > 0 && files.file_6.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_6') != -1">This image is loading!</p>
                    <p class="img alert" ng-if="files.file_6.thumbnail.length > 0 && files.file_6.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_6') == -1">Missing image. Please try to synchronize your records</p>
                    <p class="img" ng-if="files.file_6.thumbnail.length > 0 && files.file_6.thumbnail.indexOf('http') != 0"><img class="thumbnail" src="{{files.file_6.thumbnail + '?time=' + files.file_6.time}}" style="width: 240px;"/></p>
                    <p ng-if="files.file_6.status == 0">
                        <input type="button" value="{{files.file_6.path != '' ? 'Upload New Image': 'Upload Image'}}" ng-click="browse('step3', 'file_6')"/>
                    </p>
                    <span ng-if="files.file_6.status == 1" class="icon ion-checkmark-round"></span>
                    <span ng-if="files.file_6.sync == 1" class="icon ion-load-c"></span>
                </li>
                <li class="grid-item image {{files.file_7.status == 1 ? 'approved' : ''}}">
                    <h5>Skylight/chimney framing</h5>
                    <p class="img" ng-if="files.file_7.thumbnail.length == 0"><img class="thumbnail" src="img/no-image.gif" style="width: 240px;"/></p>
                    <p class="img alert" ng-if="files.file_7.thumbnail.length > 0 && files.file_7.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_7') != -1">This image is loading!</p>
                    <p class="img alert" ng-if="files.file_7.thumbnail.length > 0 && files.file_7.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step3_' + sid + '_file_7') == -1">Missing image. Please try to synchronize your records</p>
                    <p class="img" ng-if="files.file_7.thumbnail.length > 0 && files.file_7.thumbnail.indexOf('http') != 0"><img class="thumbnail" src="{{files.file_7.thumbnail + '?time=' + files.file_7.time}}" style="width: 240px;"/></p>
                    <p ng-if="files.file_7.status == 0">
                        <input type="button" value="{{files.file_7.path != '' ? 'Upload New Image': 'Upload Image'}}" ng-click="browse('step3', 'file_7')"/>
                    </p>
                    <span ng-if="files.file_7.status == 1" class="icon ion-checkmark-round"></span>
                    <span ng-if="files.file_7.sync == 1" class="icon ion-load-c"></span>
                </li>
            </ul>
            <p class="alert" ng-if="prev == 0">Please wait for a Platinum Warranty administrator to approve step #2</p>
            <p>&nbsp;</p>
        </div>
    </ion-content>
</ion-view>
