<ion-view cache-view="false" view-title="{{title}}">
    <ion-content>
        <h4 class="title">{{name}} / #1</h4>
        <div class="step1">
            <div class="item" ng-repeat="item in list">
                <label ng-if="item.type == 'text'">{{item.name}}: </label>
                <span ng-if="item.type == 'text'">{{item.value}}</span>
                <label class="left" ng-if="item.type == 'image'">{{item.name}}: </label>
                <ul class="right" ng-if="item.type == 'image'">
                    <li ng-repeat="image in item.images" ng-if="image.deleted != 1">
                      <p class="alert" ng-if="image.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step1_' + sid + '_' + image.fid) != -1">This image is loading!</p>
                        <p class="alert" ng-if="image.thumbnail.indexOf('http') == 0 && $root.loading.indexOf('step1_' + sid + '_' + image.fid) == -1">Missing image. Please try to synchronize your records</p>
                        <img ng-if="image.thumbnail.indexOf('http') != 0" width="204px" src="{{image.thumbnail}}"/>
                        <a class="ion-ios-trash-outline" ng-if="status == 0" ng-click="delete('step1', image.fid)"></a>
                    </li>
                    <li ng-if="status == 0" style="text-align: center; border: 0;">
                        <input type="button" value="Upload New Image" ng-click="browse('step1', 'file_0')"/>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <p>&nbsp;</p>
        </div>
    </ion-content>
</ion-view>
