<ion-view cache-view="false" view-title="Tell us about yourself" id='customer'>
  <ion-content>
    <div class="container">
      <div class="customer-name">
        <div class="title">Just a few minutes and we will create a customized financial plan for you.</div>
        <div class="row">
          <div class="col col-50"><input type="text" ng-model="customer.firstname" placeholder="First Name"></div>
          <div class="col col-50"><input type="text" ng-model="customer.lastname" placeholder="Last Name"></div>
        </div>
      </div>
    </div>

  </ion-content>

  <div ng-if="customer.firstname && customer.firstname" class="bar bar-footer bar-assertive">
    <a ng-click="clickButtonHandle('/app/customer_dob')" title="Continue" class="btn">Next<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </div>

  <div ng-if="!customer.firstname || !customer.firstname" class="bar bar-footer bar-assertive not-active">
    <a title="Continue" class="btn">Next<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </div>
</ion-view>