<div class="customer-job">
  <div class="title">
    Which of the following best describes the nature of your occupation, {{customer.firstname}}?
  </div>
  <ul>
    <li ng-repeat="(key, item) in data.nature_occupation">
      <input ng-model="customer.nature_occupation" value="{{item.title}}" class='custom_radio' type="radio" name="nature_occupation"
        id="nature_occupation_{{key}}" />
      <label class='' for="nature_occupation_{{key}}">{{item.title}}</label>
      <div class='input-helper'>{{item.describe}}</div>
    </li>
  </ul>
</div>