<ion-view cache-view="false" view-title="Tell us about yourself">
  <ion-content>
    <div id="customer" class="container">
      <div class="customer-dob">
        <div class='title'>Tell us your date of birth.</div>
        {{customer}}
        <div class='date-picker'><input  value="2015-11-30" type='date'/></div>
        <span>Donec facilisis tortor ut augue lacinia, at viverra est.</span>
      </div>
    </div>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-assertive">
   <a ng-click="clickButtonHandle('/app/customer_job')"  title="Continue" class="btn">Next<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
</div>