<div class="customer-goal">
  <div class="title">
    Born in '83- same as Mila Kunis! What best describes your current situation?
  </div>
  <ul>
    <li ng-repeat="(key, item) in data.goals">
      <input ng-model="customer.goals" value="{{item.title}}" class='custom_radio' type="radio" name="nature_occupation" id="nature_occupation_{{key}}"
      />
      <label class='' for="nature_occupation_{{key}}">{{item.title}}</label>
      <div class='input-helper'>{{item.describe}}</div>
    </li>
  </ul>
</div>