<ion-view cache-view="false" view-title="Tell us about yourself">
  <ion-content>
    <div id="customer" class="container">
      <div class="customer-job">
        <div class="title">
          If any, what insurance policies do you currently hold?
        </div>
        <ul>
          <li ng-repeat="(key, item) in data.existing">
            <input class='custom_radio' type="radio" name="nature_occupation" id="nature_occupation_{{key}}" />
            <label class='title' for="nature_occupation_{{key}}">{{item.title}}</label>
          </li>
        </ul>
      </div>
  </ion-content>
</ion-view>

<div class="bar bar-footer bar-assertive">
  <a ng-click="clickButtonHandle('/app/customer_smoker')"  title="Continue" class="btn">Next<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
</div>