<div class="customer-smoker">
  <div class='title'>Are you a smoker?</div>
  <div class="row">
    <div class="col col-50">
      <button class="button smoker-btn" ng-class="{selected: customer.smoke}" ng-click="customer.smoke = true">Yes</button>
    </div>
    <div class="col col-50">
      <button class="button smoker-btn" ng-class="{selected: !customer.smoke}" ng-click="customer.smoke = false">No</button>
    </div>
  </div>
  <div class='title secondary'>Lastly, can we get your mobile number for future follow up?</div>
  <div class="row">
    <label class="item item-input phone-input">
            <input ng-model='customer.phone' type="tel" placeholder="Phone Number">
          </label>
  </div>
</div>