<ion-view cache-view="false" view-title="Tell us about yourself" id='customer'>
  <ion-content>
    <div class="container">
        <div ng-repeat="page in pageList" ng-class='page.enable ? "" :"is-enabled"'>
            <div id='{{page.id}}' ng-include="page.path"></div>
            <button class="button next" ng-click="clickNextHandle(page.id, page.next)">Next</button>
        </div>
        <div class='shield'></div>
    </div>
  </ion-content>
  <div ng-if="customer.firstname && customer.firstname" class="bar bar-footer bar-assertive">
    <a ng-click="clickButtonHandle('/app/customer_dob')" title="Continue" class="btn">Next<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </div>

  <div ng-if="!customer.firstname || !customer.firstname" class="bar bar-footer bar-assertive not-active">
    <a title="Continue" class="btn">Next<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
  </div>
</ion-view>