<ion-view cache-view="false" view-title="About the main insured and payor" class="additional_question">
  <ion-content>
    <form>
      <div class="list list-inset">
        <h1 class="text-center">Who is the main insured for this policy?</h1>
        <div class="row row-no-padding">
          <div class="button-bar">
            <a class="button col col-50">The policy holder is the insured</a>
            <a class="button col col-50 active">Someone else</a>
          </div>
        </div>
      </div>

      <div class="list list-inset">
        <h1 class="text-center">Tell us about the insured</h1>
        <div class="row row-no-padding">
          <div class="col">
            <label class="item-stacked-label">
              <span class="input-label">First Name</span>
              <input type="text" placeholder="Enter">
            </label>
          </div>
          <div class="col">
            <label class="item-stacked-label">
              <span class="input-label">Last Name</span>
              <input type="text" placeholder="Enter">
            </label>
          </div>
        </div>
      </div>

      <div class="list list-inset">
        <h5>Relationship with policyholder</h5>
        <div class="row row-no-padding">
          <div class="button-bar">
            <a class="button col col-50">Grand parent</a>
            <a class="button col col-50">Parent</a>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="button-bar">
            <a class="button col col-50">Child</a>
            <a class="button col col-50">Grand child</a>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="button-bar">
            <a class="button col col-50">Spouse</a>
            <a class="button col col-50">Others</a>
          </div>
        </div>
      </div>

      <div class="list list-inset">
        <h5>Gender</h5>
        <div class="button-bar">
          <a class="button col col-50">Male</a>
          <a class="button col col-50">Female</a>
        </div>
      </div>

      <div class="list list-inset">
        <h5>Date of Birth</h5>
        <input type="text" placeholder="dd/mm/yyyy">
      </div>

      <div class="list list-inset">
        <h5>Occupation</h5>
        <input type="text" placeholder="dd/mm/yyyy">
      </div>

      <div class="list list-inset">
        <h5>Smoker ?</h5>
        <div class="button-bar">
          <a class="button col col-50">Yes</a>
          <a class="button col col-50">No</a>
        </div>
      </div>



      <div class="list list-inset">
        <h5>Income range</h5>
        <div class="row row-no-padding">
          <div class="button-bar">
            <a class="button col col-50">&lt;Range&gt;</a>
            <a class="button col col-50">&lt;Range&gt;</a>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="button-bar">
            <a class="button col col-50">&lt;Range&gt;</a>
            <a class="button col col-50">&lt;Range&gt;</a>
          </div>
        </div>
        <div class="row row-no-padding">
          <div class="button-bar">
            <a class="button col col-50">&lt;Range&gt;</a>
            <a class="button col col-50">&lt;Range&gt;</a>
          </div>
        </div>
      </div>

      <h1 class="text-center">Who is the payor for this policy?</h1>
      <div class="list list-inset">

        <div class="button-bar">
          <a class="button col col-50">The policy holder</a>
          <a class="button col col-50">The main insured</a>
          <a class="button col col-50 active">Someone else</a>
        </div>
        <p class="text-center note">Payor information will be required during policy application.</p>
      </div>
    </form>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-assertive">
  <a href="#/app/"><button class="button icon ion-home"></button></a>
  <button class="button icon ion-star"></button>
  <button class="button icon ion-checkmark-round"></button>
</div>