<ion-view cache-view="false" view-title="About the customer" class="additional_question">
    <ion-content>
        <form>
            <div class="list list-inset">
                <h1 class="text-center">Basic Policyholder Information</h1>
                <div class="row row-no-padding">
                    <div class="col">
                        <label class="item-stacked-label">
                            <span class="input-label">First Name</span>
                            <input type="text" placeholder="Enter">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item-stacked-label">
                            <span class="input-label">Last Name</span>
                            <input type="text" placeholder="Enter">
                        </label>
                    </div>
                </div>
            </div>

            <div class="list list-inset">
                <h5>Gender</h5>
                <div class="button-bar">
                    <a class="button col col-50">Male</a>
                    <a class="button col col-50">Female</a>
                </div>
            </div>

            <div class="list list-inset">
                <h5>Date of Birth</h5>
                <input type="text" placeholder="dd/mm/yyyy">
            </div>

            <div class="list list-inset">
                <h5>Smoker ?</h5>
                <div class="button-bar">
                    <a class="button col col-50">Yes</a>
                    <a class="button col col-50">No</a>
                </div>
            </div>

            <div class="list list-inset">
                <h5>Mobile number</h5>
                <input type="text" placeholder="Enter">
            </div>

            <div class="list list-inset">
                <h5>Occupation</h5>
                <div class="row row-no-padding">
                    <label class="item-select">
                        <select>
                            <option>Blue</option>
                            <option selected>Green</option>
                            <option>Red</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="list list-inset">
                <h5>Department</h5>
                <div class="row row-no-padding">
                    <label class="item-select">
                        <select>
                            <option>Blue</option>
                            <option selected>Green</option>
                            <option>Red</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="list list-inset">
                <h5>Designation</h5>
                <div class="row row-no-padding">

                    <label class="item-select">
                            <select>
                                <option>Blue</option>
                                <option selected>Green</option>
                                <option>Red</option>
                            </select>
                        </label>
                </div>
            </div>



            <div class="list list-inset">
                <h1 class="text-center">Which existing policy protection does the customer have?</h1>
                <div class="row row-no-padding">
                    <div class="button-bar">
                        <a class="button col col-50">Health Fund</a>
                        <a class="button col col-50">Perjanjian Jual Beli*</a>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <div class="button-bar">
                        <a class="button col col-50">Critical Illness & Disability</a>
                        <a class="button col col-50">Investment/ Tabungan/ Depotsits</a>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <div class="button-bar">
                        <a class="button col col-50">Tradititectiononal Pro</a>
                        <a class="button col col-50">Pension</a>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <div class="button-bar">
                        <a class="button col col-50">Education</a>
                        <a class="button col col-50">Inheritance</a>
                    </div>
                </div>
                <div class="row row-no-padding">
                    <div class="button-bar">
                        <a class="button col col-100">Others</a>
                    </div>
                </div>
            </div>






            <h1 class="text-center">Select level for any 3 financial priorities?</h1>
            <div class="list list-inset">


                <p class="text-center note">####################</p>
            </div>
        </form>
    </ion-content>
</ion-view>
<div class="bar bar-footer bar-assertive">
    <a href="#/app/"><button class="button icon ion-home"></button></a>
    <button class="button icon ion-star"></button>
    <button class="button icon ion-checkmark-round"></button>
</div>