<ion-view cache-view="false" id="SPAJ">
  <ion-nav-title class="header-bar-spaj">
    <span>Data informasi</span>
    <button ng-class='vm.showStepBar ? "up-arrow" : "down-arrow"' ng-click='vm.policy.toogleStepBar()'>Step {{vm.policyStep}} of {{vm.pageList.length}}</button>
  </ion-nav-title>

  <ion-content class="has-footer has-header">
    <div class="multiStep-wrapper" ng-show="vm.showStepBar"></div>

    <ul class="row text-center multi-step">
      <li ng-repeat="page in vm.pageList" class='col col-20' ng-class="vm.policyStep == page.step?'active':''" ng-click="vm.policy.changeStep(page.step)">
        <span>{{page.step}}</span>
      </li>
    </ul>

    <div ng-repeat="page in vm.pageList" ng-show="vm.policyStep===page.step" ng-include="page.template"></div>
  </ion-content>
</ion-view>
<div ng-show="true" class="bar bar-footer bar-assertive">
  <a ng-click="vm.submitHandle()" title="Continue" class="btn">Lanjutkan<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
</div>