<ion-view cache-view="false" view-title="Investment and Risk Profile" class="risk-profile">
  <ion-content>
    <ul class="list">
      <li class="item">
        <div class="description">
          <span> How do you rate your knowledge on investment? </span>
          <span class="float-right"> Moderate </span>
        </div>
        <div class="range range-positive">
          <div class="input-range row">
            <input class="custom-range" type="range" name="investment_knowledge" ng-model="data.investment_knowledge" min="1" max="5" step="1">
          </div>
          <div class="range-divider row">
            <div class="col col-25 text-left">
              <span class="divider">|</span>
            </div>
            <div class="col col-15 text-left">
              <span class="divider">|</span>
            </div>
            <div class="col col-20 text-center">
              <span class="divider">|</span>
            </div>
            <div class="col col-15 text-right">
              <span class="divider">|</span>
            </div>
            <div class="col col-25 text-right">
              <span class="divider">|</span>
            </div>
          </div>
          <div class="range-tip row">
            <div class="col col-25 text-left">
              <span>1 (Lowest)</span>
            </div>
            <div class="col col-15 text-left">
              <span>2</span>
            </div>
            <div class="col col-20 text-center">
              <span>3</span>
            </div>
            <div class="col col-15 text-right">
              <span>4</span>
            </div>
            <div class="col col-25 text-right">
              <span>5 (Highest)</span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="item">
      <div class="description">
        <span> How long have you had experience with investment - including stocks, funds? </span>
        <span class="float-right"> 5-10 years </span>
      </div>
      <div class="range range-positive">
        <div class="input-range row">
          <input class="custom-range" type="range" name="year_of_experience" ng-model="data.year_of_experience" min="1" max="3" step="1">
        </div>
        <div class="range-divider row">
          <div class="col col-33 text-left">
            <span class="divider">|</span>
          </div>
          <div class="col col-33 text-center">
            <span class="divider">|</span>
          </div>
          <div class="col col-33 text-right">
            <span class="divider">|</span>
          </div>
        </div>
        <div class="range-tip row">
          <div class="col col-33 text-left">
            <span>< 5 years</span>
          </div>
          <div class="col col-33 text-center">
            <span>5-10 years</span>
          </div>
          <div class="col col-33 text-right">
            <span>> 10 years</span>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="item">
    <div class="description">
      <span> How important is the funds from this investment to your cashflow? </span>
      <span class="float-right"> Somewhat important </span>
    </div>
    <div class="range range-positive">
      <div class="input-range row">
        <input class="custom-range" type="range" name="how_important" ng-model="data.how_important" min="1" max="5" step="1">
      </div>
      <div class="range-divider row">
        <div class="col col-25 text-left">
          <span class="divider">|</span>
        </div>
        <div class="col col-15 text-left">
          <span class="divider">|</span>
        </div>
        <div class="col col-20 text-center">
          <span class="divider">|</span>
        </div>
        <div class="col col-15 text-right">
          <span class="divider">|</span>
        </div>
        <div class="col col-25 text-right">
          <span class="divider">|</span>
        </div>
      </div>
      <div class="range-tip row">
        <div class="col col-25 text-left">
          <span>Not at all</span>
        </div>
        <div class="col col-15 text-left">
          <span>2</span>
        </div>
        <div class="col col-20 text-center">
          <span>3</span>
        </div>
        <div class="col col-15 text-right">
          <span>4</span>
        </div>
        <div class="col col-25 text-right">
          <span>Very important</span>
        </div>
      </div>
    </div>
  </div>
</li>
<li class="item">
  <div class="description">
    <span> What is the key objective for your investment? </span>
  </div>
  <div>
    <select class="key-objective-select" ng-model="data.investment_key_objective">
      <option disabled selected value> Select </option>
      <option value="1">Blue</option>
      <option value="2">Green</option>
      <option value="3">Red</option>
    </select>
  </div>
</div>
</li>
<li class="item">
  <div class="description">
    <span> My goal for investment is to pay for needs in the next… </span>
    <span class="float-right"> 5-8 years </span>
  </div>
  <div class="range range-positive">
    <div class="input-range row">
      <input class="custom-range" type="range" name="goal" ng-model="data.goal" min="1" max="5" step="1">
    </div>
    <div class="range-divider row">
      <div class="col col-25 text-left">
        <span class="divider">|</span>
      </div>
      <div class="col col-15 text-left">
        <span class="divider">|</span>
      </div>
      <div class="col col-20 text-center">
        <span class="divider">|</span>
      </div>
      <div class="col col-15 text-right">
        <span class="divider">|</span>
      </div>
      <div class="col col-25 text-right">
        <span class="divider">|</span>
      </div>
    </div>
    <div class="range-tip row">
      <div class="col col-25 text-left">
        <span>< 3 years</span>
      </div>
      <div class="col col-15 text-left">
        <span>3-5 years</span>
      </div>
      <div class="col col-20 text-center">
        <span>5-8 years</span>
      </div>
      <div class="col col-15 text-right">
        <span>8-10 years</span>
      </div>
      <div class="col col-25 text-right">
        <span>> 10 years</span>
      </div>
    </div>
  </div>
</div>
</li>
<li class="item">
  <div class="footer-text">
    <span> Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut. Nunc vel rhoncus nibh, ut tincidunt turpis. Integer ac enim pellentesque, adipiscing metus id, pharetra odio. Donec bibendum nunc sit amet tortor scelerisque. </span>
  </div>
</li>
</ul>
<div class="clearfix visible-xs-block"></div>
<div class="bar bar-footer bar-assertive">
  <a href="#/app" title="Continue" class="btn">Continue<button class="button button-clear"><i class="icon ion-ios-arrow-forward"></i></button></a>
</div>
</ion-content>
</ion-view>
