<ion-view cache-view="false" view-title="Illustration" id="illustration">
    <ion-content>
        <div class='row tab-menu'>
            <span class='col' ng-class="{'active':view === 'PROTECTION'}" ng-click="changeView('PROTECTION')">PROTECTION</span>
            <span class='col' ng-class="{'active':view === 'INVESTMENT'}" ng-click="changeView('INVESTMENT')">INVESTMENT</span>
        </div>
        <div ng-if="view==='PROTECTION'" ng-include="'templates/illustration/illustration_protection.html'"></div>
        <div ng-if="view==='INVESTMENT'" ng-include="'templates/illustration/illustration_investment.html'"></div>
    </ion-content>
</ion-view>