.page-customer .title{margin-bottom: 20px;}
.page-customer .button-stable{margin-top: 30px;}
.page-customer .row,
.page-customer .col{padding:0;}
.page-customer .row{margin-bottom: 15px;}

.cust-checkbox{border-bottom: 1px solid #efecec;padding-bottom: 20px;}
.cust-checkbox .item{border:0;padding-left: 53px;white-space: normal;}
.cust-checkbox .item-content{font-size: 30px;white-space: normal;}
.cust-checkbox .checkbox{padding: 0;left:0;margin-top: 0;top:23px;}
.cust-checkbox .checkbox-icon{height: 26px;width: 26px;}
.cust-checkbox .checkbox-icon:before
{
  border-color:#efecec;
  border-width:1px;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  height: 100%;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}

.cust-checkbox .checkbox-icon:after
{
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  background-color: #efecec;
  border:0;  
  height: 6px;
  opacity:1;
  width: 6px;
  top: 50%;
  left: 50%;
  margin-left: -3px;
  margin-top: -3px;
}

.cust-checkbox .checkbox input:checked:before,
.cust-checkbox .checkbox input:checked + .checkbox-icon:before{background: #da291c;border-color: #da291c;}
.cust-checkbox .desc{display: block;font-size: 14px;margin-top: 15px;}


.cust-radio .item{border:0;padding: 16px 16px 16px 53px;white-space: normal;}
.cust-radio .item-content{font-size: 30px;white-space: normal;padding: 0;}
.cust-radio .item-radio .radio-icon
{
  visibility:visible;
  left:0;
  right:auto;
  top: 23px;
  padding: 0;
  height: 26px;
  width: 26px;
  border:1px solid #efecec;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
}

.cust-radio .item-radio .radio-icon:before
{
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  background-color: #efecec;
  border:0;  
  height: 6px;
  opacity:1;
  width: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3px;
  margin-top: -3px;
  content:'';
  display: block;
}

.cust-radio .desc{display: block;font-size: 14px;margin-top: 15px;}
.cust-radio .item-radio input:checked + .radio-content .radio-icon{background: #da291c;border-color: #da291c;}
.cust-radio .item-radio input:checked + .radio-content .item-content{background-color: transparent;}

.cust-radio-other .item
{
  border:0;
  font-size: 16px;
  float:left;
  line-height: 47px;
  margin: 0;
  min-height: 47px;
  text-align: center;
  width: 48%;
}

.cust-radio-other .item:nth-of-type(2n){float:right}

.cust-radio-other .item .item-content
{
  background-color: #f8f8f8;
  padding: 0;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
}

.cust-radio-other .item  .radio-icon{display: none;}
.cust-radio-other .item-radio input:checked + .radio-content .item-content{background-color: #5b6770;color:#fff;}

#customer .container{
  padding: 6vw;
}

#customer .bar.bar-footer.not-active{
  background-color: #c2c2c2;
  border: none;
}

#customer .title{
  margin-bottom: 3vw;
  padding: 2vw;
  font-size: 5vw;
  line-height: 6vw;
  text-align: center;
  color: black;
}

#customer .customer-name input{
  height: auto;
  font-size: 4vw;
}

#customer .customer-dob{
  text-align: center;
}

#customer .customer-dob span{
  font-size: 3vw;
}

#customer .customer-dob .date-picker input{
  height: auto;
  font-size: 5vw;
  padding: 6vw;
  line-height: 6vw;
}

#customer .customer-job ul li{
  padding-bottom: 3vmax;
  padding-top: 2vmax;
}


#customer .customer-job ul .title{
  margin-left: 3vw;
  font-size: 4.5vw;
  line-height: 5vw;
}

#customer .customer-job ul .describe{
  margin-left: 7vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: block;
  font-size: 3vw;
  line-height: 4vw;
}

#customer .customer-job ul .custom_radio{
    width: 3vw;
    height: 3vw;
}

#customer .customer-smoker .title.secondary{
  padding-top: 60px;
}

#customer .customer-smoker .phone-input{
  border: none;
  padding-left: 0;
}

#customer .customer-smoker .phone-input input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 4vw;
  line-height: 48 px;
  opacity: 1.00;
  padding-left: 0;
}

#customer .customer-smoker .smoker-btn {
  background: #F7F5F5;
  opacity: 1.00;
  border-radius: 2px;
  width: 100%;
  font-size: 3vw;
  line-height: 100%;
  letter-spacing: -0.408px;
  color: rgba(73, 84, 93, 0.5);
  opacity: 1.00;
}

#customer .customer-smoker .smoker-btn.selected{
  background-color: #5B6770;
  color: #F7F5F5;
}