#spaj-esignature{
    font-size: 16px;
    background-color: #F7F5F5;
}

#spaj-esignature .row, .col{
    padding: 0px !important;
}

#spaj-esignature .declaration .signature-pad{
    width: 100%;
    height: 300px;
    margin: 40px 0px;
    position: relative;
}

#spaj-esignature .declaration .signature-pad span{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 15px;
    color: #9B9B9B;
}

#spaj-esignature .declaration .signature-pad canvas{
    width: 100%;
    height: 100%;
    background-color: white;
}

#spaj-esignature .custom-checkbox{
    display: block;
    position: relative;
    margin: 30px 0px;
}

@media only screen and (min-width: 748px) {
    #spaj-esignature .custom-checkbox{
        margin: 15px 0px;
    }
}

#spaj-esignature .custom-checkbox span{
    color: red;
}

#spaj-esignature .custom-checkbox input[type=checkbox]{
    height: 20px;
    width: 20px;
}

#spaj-esignature .custom-checkbox label{
    position: absolute;
    margin: 0px 10px;
}


#spaj-esignature div.additional-notes{
    display: block;
    padding: 40px 30px;
    background-color: white;
}

#spaj-esignature div.additional-notes input{
    display: block;
    border: none;
    border-bottom: solid 1px #c2c2c2;
    width: 100%;
    font-size: 16px;
    height: 35px;
}

#spaj-esignature div.declaration{
    display: block;
    padding: 40px 30px;
}


#spaj-esignature div.declaration .agent-info div{
    display: block;
}

#spaj-esignature div.declaration .agent-info span{
    display: block;
    font-size: 13px;
    color: #9B9B9B;
    margin-bottom: 5px;
}

#spaj-esignature div.declaration header{
    display: block;
    margin: 15px 0px;
}

#spaj-esignature div.declaration section{
    padding-bottom: 40px;
}