#health_question1 h1 {
  white-space: normal
}

#health_question1 .item {
  border: none;
  padding: 30px 0
}

#health_question1 .smoker-btn {
  background: #F7F5F5;
  opacity: 1.00;
  border-radius: 2px;
  width: 100%;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: -0.408px;
  color: rgba(73, 84, 93, 0.5);
  opacity: 1.00;
}

#health_question1 .smoker-btn.selected {
  background-color: #5B6770;
  color: #F7F5F5;
}

#health_question1 button.next {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

#health_question1 .item-note {
  margin-top: -27px
}