#illustration{}

#illustration .tab-menu span{
  text-align: center;
  font-size: 2vmax;
  padding: 1.5vmax;
}

#illustration .tab-menu .active{
  color: red;
}

#illustration #illustration-protection .title{
  text-align: center;
  padding: 2vmax;
  font-size: 2vmax;
}

#illustration #illustration-protection .title span{
  color: red;
}

#illustration #illustration-protection li{
  margin-left: 1vw;
  padding: 1vw;
  list-style-type: disc;
  font-family: 'Roboto', sans-serif;
}

#illustration #illustration-protection .banner{
  position: relative;
}

#illustration #illustration-protection .banner .banner-img{
  width: 100%;
  height: auto;
  min-height: 300px;
}

#illustration #illustration-protection .banner .banner-content{
  position: absolute;
  text-align: center;
  padding: 3vw;
  width: 100%;
  height: 100%;
  top: 0px;
}

#illustration #illustration-protection .banner .banner-content .row ul{
  color: white;
  font-size: 1.5vmax;
  text-align: left;
  line-height: 3vmax;
}

#illustration #illustration-protection .banner .banner-content h3{
  font-size: 3vmax;
  color: white;
}

#illustration #illustration-protection .banner .banner-content button{
  background: transparent;
  color: white;
  font-size: 1.8vmax;
  border: solid 1px;
  width: 90%;
  padding: 5px;
  position: absolute;
  bottom: 3vmax;
  left: 0px;
  right: 0px;
  margin: auto;
}

#illustration #illustration-protection .protection-circle-chart{
  width: 100px;
  height: 100px;
}

#illustration #illustration-protection .protection-circle-chart hr{
  width: 100px;
}

#illustration #illustration-protection .protection-circle-chart .chart-content{
  text-align: center;
}

#illustration #illustration-protection .protection-rect-chart{
  border: solid 1px;
  border-radius: 2px;
  padding: 2vmax;
  text-align: center;
  font-size: 1.5vmax;
}

#illustration #illustration-protection .protection-rect-chart .chart-content span.data-1{
  font-size: 3vmax;
  padding: 4px;
}


