.multi-step {
  margin: 20px 0
}

.multi-step .col span {
  background: #efecec;
  color: #b4b7ba;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  border-radius: 50%;
  font-size: 17px;
  margin-bottom: 10px;
}

.multi-step .col {
  position: relative
}

.multi-step .col:before {
  width: 100%;
  height: 1px;
  content: '';
  border: 1px solid #efecec;
  position: absolute;
  top: 20px;
  z-index: -1;
  left: 0px
}

.multi-step .col:first-child:before {
  width: 50%;
  left: 50%
}

.multi-step .col:last-child:before {
  width: 50%;
}

.multi-step .col.active {
  color: #DA291C
}

.multi-step .col.active span {
  background: #DA291C;
  color: #FFF
}

.multi-step .col.active:before {
  border-color: #DA291C;
  ;
}
/*Css health_question*/
#health_question1 h1 {
  white-space: normal
}

#health_question1 .item {
  border: none;
  padding: 30px 0
}

#health_question1 .smoker-btn {
  background: #F7F5F5;
  opacity: 1.00;
  border-radius: 2px;
  width: 100%;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: -0.408px;
  color: rgba(73, 84, 93, 0.5);
  opacity: 1.00;
}

#health_question1 .smoker-btn.selected {
  background-color: #5B6770;
  color: #F7F5F5;
}

#health_question1 button.next {
  width: 100%;
  margin: 20px 0px 20px 0px;
}

#health_question1 .item-note {
  margin-top: -27px
}